body {
  background-color: lightblue;
  text-align: center;
}

#largestPopulation {
  color: green;
  border: solid green 4px;
  padding: 2rem;
}

#languages {
  margin-bottom: 3rem;
}

img {
  margin-left: 5rem;
}

#countryWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
